<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>The Home Page <%=4+ 5 +1%>
    </h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta vitae reiciendis sit quas quidem? Omnis
        obcaecati repellat excepturi quisquam, dolorum itaque sint, sapiente tempore culpa facere voluptatum odio
        deleniti blanditiis!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque animi asperiores iusto magni a at fugiat
        temporibus ea voluptate doloribus porro sint, eligendi provident veritatis quas iure placeat consequuntur illo!
    </p>
</body>

</html>